* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bank-container {
    background: rgb(253, 186, 186);
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.balance-box {
    background: #e6f7ff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

.transaction-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    width: 48%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:first-child {
    background: #4CAF50;
    color: white;
}

button:last-child {
    background: #f44336;
    color: white;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 480px) {
    .bank-container {
        width: 90%;
    }
}